DATABASE_URL=postgresql://user:password@localhost:5432/pitch?schema=public
JWT_SECRET=replace-with-secure-random-string
CORS_ORIGIN=http://localhost:3001
PORT=3000

# Paystack Configuration
PAYSTACK_PUBLIC_KEY='pk_test_2bd02c05543d4c4fe79a4582aba74104c68bc5f2'
PAYSTACK_SECRET_KEY='sk_test_e2251a51b3cd6ddbb3d2dfe4150554b50b765a48'
